rich
python-dotenv-vault
arrow
Flask
Flask-Minify
Flask-Compress
humanfriendly
orjson
Flask-Cors
jinja2-env
dotted-dict
numpy
heroicons
jinja2-simple-tags
jsonurl-py
tzdata
tzlocal
graphql-core
requests-cache
YURL
Flask-Classful
psutil
py7zr
cssmin
jsmin
htmlmin 
Flask-SQLAlchemy

