{% extends "base.jinja" %}

{% block title %}
{{ id }}
{% endblock title %}

{% block content %}
<div class="flex items-center justify-center w-full h-full bg-white dark:bg-slate-900">
  <div class="flex flex-col items-center justify-center">
    <div class="sparkle">

      {% icon "images/sparkle.svg" as sparkle %}

      {% for _ in range(5) %}
      <span class="sparkle-icon">{{ sparkle }}</span>
      {% endfor %}

      <span class="sparkle-text" id="[_]-status.name">
        #{{ id }}
      </span>
    </div>
    <i id="[_]-status" class="mt-px text-slate-500 dark:text-slate-400 md:text-sm">Initializing...</i>
    <div id="[_]-status.progress" class="flex items-center justify-center w-11/12"></div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  AnimateSparkle()
  $(document).ready(() => { FetchAndShowContent($.state.page.id) })
</script>
{% endblock scripts %}